<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adam.Core" version="5.2" targetFramework="net45" />
  <package id="Adam.Core.DatabaseManagerLibrary" version="5.2" targetFramework="net45" />
  <package id="Adam.Tools" version="5.2" targetFramework="net45" />
  <package id="Xceed.FileSystem" version="5.3.13327.9020" targetFramework="net45" />
  <package id="Xceed.Zip" version="5.3.13327.9020" targetFramework="net45" />
</packages>